@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Thonburi";
        font-weight: 500;
        src: url("./assets/fonts/SFThonburi-Regular.ttf");
    }
    @font-face {
        font-family: "Thonburi";
        font-weight: 600;
        src: url("./assets/fonts/SFThonburi-Semibold.ttf");
    }
    @font-face {
        font-family: "Thonburi";
        font-weight: 700;
        src: url("./assets/fonts/SFThonburi-Bold.ttf");
    }
    * {
        font-family: "Thonburi", system-ui, sans-serif;
    }
}

@layer components{
    .flex-con-col{
        @apply flex flex-col items-center justify-center
    }
    .flex-con-row{
        @apply flex flex-row items-center justify-center
    }
    .flex-con{
        @apply flex justify-center
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}